<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @build.name %>
</p>

<p>
  <b>Version:</b>
  <%= @build.version %>
</p>


<%= link_to 'Edit', edit_build_path(@build) %> |
<%= link_to 'Back', builds_path %>
